<div class="alert alert-info">
    <h1>Hi {{currentUser.name}}!</h1>
    <br>
    <p>View your <a href="">profile</a></p>
    <hr>
    <p>Your top buddy match is <a href="">here</a>, they match 3 interests, they live within your region and they are
        waiting to find a buddy like you.</p>
    <br>
    <p>You have 0 events subscribed click <a href="">here</a> to view your event listings</p>
</div>
<div class="row">
    <div class="col">
        <app-user-profile></app-user-profile>
    </div>
    <!-- <div class="col"><app-user-list></app-user-list></div> -->
</div>