# See http://help.github.com/ignore-files/ for more about ignoring files.

.idea/

data/

*.iml

# compiled output
/front-end/dist
/front-end/tmp
/front-end/out-tsc
# Only exists if Bazel was run
/front-end/bazel-out

# dependencies
/front-end/node_modules

# profiling files
/front-endchrome-profiler-events.json
/front-endspeed-measure-plugin.json

# IDEs and editors
/front-end/.idea
/front-end/.project
/front-end/.classpath
/front-end/.c9/
/front-end/*.launch
/front-end/.settings/
/front-end/*.sublime-workspace

# IDE - VSCode
/front-end/.vscode/*
/front-end/!.vscode/settings.json
/front-end/!.vscode/tasks.json
/front-end/!.vscode/launch.json
/front-end/!.vscode/extensions.json
/front-end/.history/*

# misc
/front-end/.sass-cache
/front-end/connect.lock
/front-end/coverage
/front-end/libpeerconnection.log
/front-endnpm-debug.log
/front-endyarn-error.log
/front-endtestem.log
/front-end/typings

# System Files
/front-end.DS_Store
/front-end/Thumbs.db



# compatilities

/front-end/.nyc_output/
/front-end/.coverage
/front-end/node_modules/
/front-end/static/


/compatibilities/node_modules

/docker-volumes/
