<ul class="list-group list-group-flush">
    <li [ngClass]="user.loginMetrics.isLoggedIn ? 'loggedIn' : 'loggedOut'"
        class="list-group-item d-flex justify-content-between align-items-center" 
        *ngFor="let user of userList">
        <div>
            
            <span ><a href="" (click)="changeLoginStatus(user)">{{ user.name }}</a></span>
            <br>
            <small>{{ user._id }}</small>
            <br>
            <span style="float: left" class="badge badge-primary badge-pill">interests: {{user.interests.length}}</span>
            <span style="float: left" class="badge badge-primary badge-pill">matches: {{user.matches.length}}</span>
   
            <!-- <button style="float: right" type="submit" class="btn btn-sm btn-primary" (click)="changeLoginStatus(user)">{{ user.loginMetrics.isLoggedIn }} Log In</button> -->
   
        </div>
    </li>
</ul>